$max-width: 1200px;
$gutter: 20px;
$font-main: "Lora", "Times New Roman",  serif;
$font-title: "Roboto Mono", "Courier New", "monospace";
$black: #000;
$grey: #999;
$lightgrey: #aaa;
$whitegrey: #ccc;
$green: #2d2;
$darkgreen: #1a1;
$lightyellow: #fcffd2;
$pinkish: #cc9694;
$grunnleturstaerd: 16px;
